figcaption {
    position: absolute;
    top: 2rem;
    margin: 0 2rem;
    color: white;
    font-size: 1.5em;
    text-align: center;
}
body{
    font-size: 16px;
}
#car{
    height: 600px;
    width: 100%;
}
Table{
    list-style-type: none;
    border: none;
    color:white;
}
.trFooter{
    list-style-type: none;
    border: none;
    color: white;
    text-align: center;
}
#borderH1{
    border-bottom: 5px solid white;
    margin-left: 43%;
}
.tdFooter{
    border: none;
    list-style-type:none;
    font-family: 'PT Serif', serif;
    text-decoration: none;
}
#linkTdFooter{
    text-decoration: none;
    color: white;
}
#carThumbnail{
    width: 100%;
}
#containerContact{
    background: url('../images/contactBaner.jpg') black center no-repeat;
    background-size: cover;
    color: white;

}
#homeBaner{
    background: url('../images/baner.jpg') black center no-repeat;
    background-size: cover;
    color: white;
}
#homeRow{
    text-align: center;
    margin-left: 13%;
}
#buttonHome{
    margin-bottom: 2%;
    width: 25%;
    border-radius: 90%;
    font-size: 1.7rem;
    padding: 5px;
    background-color: black;
    border-color: black;
}
#thumbnailHome{
    background-color: transparent;
}
#carAbout{
    height: 300px;
}
.Header{
    font-family: 'Oswald', sans-serif;
    margin-top: 5%;
}
#paragrafBaner {
    margin-top: 2%;
    text-align: center;
    font-family: 'PT Serif', serif;
}
.paragrafAbout{
    font-family: 'PT Serif', serif; 
}
#paragrafDwaBaner {
    float: left;
    margin-top: 3%;
    font-family: 'PT Serif', serif;
}
#footerContainer{
    background-color: black;
    color:white;
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
    font-size: 1.5rem;
}
.thumbnailAboutParagraf{
    font-family: 'PT Serif', serif;
}
.thumbnailParagrafH{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.tbodyFooter{
    text-decoration-line: none;
}
.HeaderAbout{
    font-family: 'Oswald', sans-serif;
    margin-top: 0%;
}
.contactH1{
    font-family: 'Oswald', sans-serif; 
}
.paragrafContact{
    font-family: 'PT Serif', serif; 
}
#rowContact{
   
}
.buttonContact{
    margin-bottom: 5%;
}
#footerTdLinks{
    text-decoration: none;
    color: white;
}
form{
    font-family: 'PT Serif', serif; 
}
.h2Footer{
    font-family: 'Oswald', sans-serif; 
}
.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}
#containerAbout{
    background: url('../images/aboutBaner2.jpg') black center no-repeat;
    background-size: cover;
    color: white; 
}
#thumbnailAbout{
    background-color: transparent;
    padding: 2%;
    color: white;
    line-height: 85%;
    margin-bottom: 5%;
    width: 90%;
}
#rowAbout{}


@media screen and (max-width: 768px) {
    figcaption {
        position: inherit;
        bottom: inherit;
        margin: .25rem 0px;
        font-size: inherit;
        color: inherit;
    }
}